
@import "../scss/variables/variables";



.details.card {

 

    background-color: rgb(227, 228, 233);
   
    margin: 0 auto;
    border: none;
    height: 60vw;
    max-height: 400px;
    min-height: 300px;
    border: none;
    width: 60vw;
    min-width: 300px;
    max-width: 800px;

 .rounded {
    height: 60vw;
    min-height: 300px;
   
 

       
        object-fit: cover;
        margin: 0px;
        padding: 0px;
        max-height: 400px;
    }
    
  
      

    p.price {

        margin: 50px;
    }





}

.details.card.description {

    background-color:  map-get($brand-colors, lightest);;
    
    padding: 30px;
    max-width: 800px;

    p {

     
        text-align: center;
        
    }
}  //selector specificty 3



h2 {
    padding: 20px;
}


.container.mx-auto {



  

    i {
    

     
    
    }
}



#column {


    margin-bottom: 100px;
}

.col-sm-12 {

    margin-top: 0px;
    background-color: map-get($brand-colors, lightest);
    padding: 20px;
    padding-bottom: 150px ;
    margin: 0px;
}


#details-triad {

    margin-top: 3vw;


}


@media only screen and (max-width: 550px) {
  


    #details-triad {

        margin-top: 30px;
    }
  }
