
$medium-margin: 50px;


div.gap-2.col-6 {

 
    gap: 3.5rem;
 
}


div#grid-gap:nth-child(2) {

    gap: 20px;
    
   
}

div.row.mx-auto {

    max-width: 400px;
    margin-bottom: $medium-margin;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";


@import "../node_modules/bootstrap/scss/variables";

@import "../node_modules/bootstrap/scss/utilities";





label.col-lg-4{

    width: 33%;
}

input#price {
 
    padding: 5px;
}

.container {
    
}